
.auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.auth__form {
    border-radius: 20px;
}

.auth__link {
    margin-top: 10px;
}