@font-face {
  font-family: 'Intro Head R';
  src: url('../fonts/Intro Head R/IntroHeadR-Base.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lorenzo Sans';
  src: url('../fonts/Lorenzo Sans/Lorenzo Sans Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lorenzo Sans';
  src: url('../fonts/Lorenzo Sans/Lorenzo Sans Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lorenzo Sans';
  src: url('../fonts/Lorenzo Sans/Lorenzo Sans Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lorenzo Sans';
  src: url('../fonts/Lorenzo Sans/Lorenzo Sans Medium Italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lorenzo Sans';
  src: url('../fonts/Lorenzo Sans/Lorenzo Sans Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lorenzo Sans';
  src: url('../fonts/Lorenzo Sans/Lorenzo Sans Bold Italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}