

.footer {
    padding: 20px 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    background-color: var(--color-charcoal);
    color: var(--color-stone);
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.footer__contact {
    color: var(--color-stone);
}
  
.footer__contact a {
    color: var(--color-parchment);
    text-decoration: none;
}
.footer__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

@media (max-width: 1400px) {
    .header {
    display: flex;
    align-items: center;
    flex-direction: column;
    }
}

@media (max-width: 768px) {
    .header {
    padding-left: 5%;
    padding-right: 5%;
    flex-direction: row;
    }

    .header__nav {
        display: none;
    }

    .header__buttons {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #btn_toggle_menu {
        display: block;
    }

}