

.footer {
    padding: 20px 15%;
    gap: 20px !important; 
    background-color: var(--color-charcoal);
    color: var(--color-stone);
}

.footer__contact {
    color: var(--color-stone);
}

.footer__contact a {
    color: var(--color-parchment);
    text-decoration: none;
}
.footer__nav {
    flex-wrap: wrap;
    gap: 20px !important;
}

@media (max-width: 1400px) {
    .footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    }
}

@media (max-width: 768px) {
    .footer {
        padding-left: 5%;
        padding-right: 5%;
    }
}