@import url('./main.css');

header {
}

.hero-slider {
    padding: 20 30px;
}
.slide.active {
    position: relative;
}
.bkg-image {
    position: absolute;
}

.slide-description {
    position: absolute;
    z-index: 100;
}

.auth {

}

.about {

}

.features-section {

}

books-section {

}

.search-section {

}

.reviews-section {

}

.subscribe-form {

}

.contacts {

}