/* @import url('./reset.css'); */
@import url('./fonts.css');

@import url('./header.css');
@import url('./slider.css');
@import url('./auth.css');
@import url('./about.css');
@import url('./features.css');
@import url('./books.css');
@import url('./search.css');
@import url('./reviews.css');
@import url('./subscribe.css');
@import url('./footer.css');


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
  background: none;
}

button {
  -webkit-appearance: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*:focus {
  outline: none;
}


:root {
  --color-forest: #28724f;
  --color-meadow: #34a56f;
  --color-parchment: #bde4d1;
  --color-stone: #e7e6e6;
  --color-charcoal: #3d3f3f;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: var(--color-stone);
  font-family: 'Lorenzo Sans', sans-serif;
  color: var(--color-charcoal);
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, p, span, input, button, a {
  color: var(--color-charcoal);
}

h1, h2, h3 {
  font-family: 'Intro Head R', serif; /* запасной шрифт */
  font-weight: 400;
  margin-bottom: 24px;
}

h1 { 
  font-size: 44px; 
  line-height: 1.2;
}

h2 { 
  font-size: 34px; 
  line-height: 1.25; 
  margin-bottom: 20px; 
}

h3 { 
  font-size: 26px; 
  line-height: 1.3; 
  margin-bottom: 16px; 
}

h4 {
  font-family: 'Lorenzo Sans', sans-serif;  /* запасной шрифт */
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 12px;
}

p, input, button {
  font-family: 'Lorenzo Sans', sans-serif;  /* запасной шрифт */
  font-size: 18px;
  font-weight: 400;
}

a {
  font-family: 'Lorenzo Sans', sans-serif;  /* запасной шрифт */
  font-size: 18px;
  font-weight: 500;
  color: var(--color-meadow);
  text-decoration: none;
}

a:hover, a:focus {
  color: var(--color-forest);
  text-decoration: none;
  transform: scale(1.1);
}

button, input, a {
  transition: color 0.4s ease-in-out, transform 0.3s ease;
}

button:hover, button:focus,
input:hover, input:focus {
  transform: scale(1.1);
}

input::placeholder {
  color: var(--color-stone);
  opacity: 0.6;
}

span {
  font-size: inherit;
  line-height: inherit;
}

section{
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 30px;
}

section > h2 {
  text-align: center;
  color: var(--color-forest);
}

.btn {
  padding: 10px 15px;
  border-radius: 10px;
  text-align: center;
  font-family: 'Lorenzo Sans', sans-serif; /* запасной шрифт */
}

.btn:hover, .btn:focus {
  color: var(--color-meadow);
  background-color: var(--color-forest);
  transform: scale(1.1);
}

.btn--primary {
  background-color: var(--color-forest);
  color: var(--color-stone);
}

.btn--secondary { 
  background-color: var(--color-stone); 
  color: var(--color-forest); 
}


.slider__thumbnail {
  max-width: 100px;
  width: inherit;
  height: inherit;
  height: 60px;
  object-fit: contain;
  border-radius: 20px;
}

.form {
  width: 400px;
  background-color: var(--color-meadow);
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.form__input {
  width: 350px;
  padding: 10px 15px;
  border-radius: 10px;
  color: var(--color-stone);
}

.form__link {
  color: var(--color-stone);
}

.description {
  gap: 10px;
  width: 400px;
  background-color: var(--color-parchment);
  padding: 20px;
}

.description__title { /*Эти стили к h1 надо или вынести вообще от сюды*/
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: var(--color-forest);
}

.description__link {
  padding: 10px 20px;
}

.description > .list {
  list-style-type: disc;
  padding: 20px;
}

.description > .list > .list__item {
  transform: none;
  padding: 10px;
}

.form__btn {
  position: relative;
  width: 40%;
  padding: 12px;
  border-radius: 10px;
  background-color: var(--color-forest);
  color: white;
  border: none;
  cursor: pointer;
}

.form__btn:hover {
  background-color: var(--color-forest);
}

.container {
  display: flex;
  gap: 10px;
}

.container-center {
  align-items: center;
}

.container-element-center {
  justify-content: center;
}

.container-element-space {
  justify-content: space-between;
}

.container-row {
  flex-direction: row;
}

.container-column {
  flex-direction: column;
}

/* Добавить отступы через класс */

.gap-big {
  gap: 20px;
}

.gap-small {
  gap: 10px;
}