
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
  background: none;
}

button {
  -webkit-appearance: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input[type="email"],
input[type="text"],
input[type="password"] {
  -webkit-appearance: none;
}

fieldset {
  border: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*:focus {
  outline: none;
}