.search {
    gap: 20px !important;
}

.search__form {
    border-radius: 20px;
    padding: 10px;
    width: 700px !important;
    flex-shrink: 0;
    white-space: nowrap;
}

.search__form > .form__input {
    flex-grow: 1;
}

.search__form > .form__input:hover, .form__input:focus {
    transform: scale(1.02) !important;
} 

.search__form > .form__btn {
    width: 100px;
}

@media (max-width: 768px) {
    .search__form {
        width: 80%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .slide--review {
        width: 80%;
    }

    .controls {
        width: 80%;
    }
}