.rack__book {
    width: 330px;
    padding: 20px;
    background-color: var(--color-meadow);
    border-radius: 20px;
}

.rack__img {
    width: 90%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.rack__description {
    width: 280px !important;
    background: none !important;
    padding: 0 !important;
}

.rack__description > .description__title {
    color: var(--color-stone);
    height: 40px;
    overflow: hidden;
}

.rack__description > .description__text {
    max-height: 150px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rack__description > .btn {
    width: 95%;
}

.next-books {
    height: 600px;
}

.rack__btn {
    width: 95%;
    padding: 10px 20px;
}