.footer {
    padding: 20px 15%;
    background-color: var(--color-charcoal);
    color: var(--color-stone);
}

.footer__contact {
    color: var(--color-stone);
}

.footer__contact a {
    color: var(--color-parchment);
    text-decoration: none;
}

@media (max-width: 1400px) {
    .footer {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .footer {
        padding-left: 5%;
        padding-right: 5%;
    }
}