/* @import url('./reset.css'); */
@import url('./fonts.css');

@import url('./header.css');
@import url('./slider.css');
@import url('./auth.css');
@import url('./about.css');
@import url('./features.css');
@import url('./books.css');
@import url('./search.css');
@import url('./reviews.css');
@import url('./subscribe.css');
@import url('./footer.css');


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lorenzo Sans', 'Arial', sans-serif;
  color: var(--color-charcoal);
  line-height: 1.6;
  border: none;
  background: none;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-forest: #28724f;
  --color-meadow: #34a56f;
  --color-parchment: #bde4d1;
  --color-stone: #e7e6e6;
  --color-charcoal: #3d3f3f;
}

body {
  background-color: var(--color-stone);
}

h1, h2, h3 {
  font-family: 'Intro Head R', 'Gloria', serif; 
  margin-bottom: 24px;
  text-align: center;
}

h1 { 
  font-size: 44px; 
  line-height: 1.2;
}

h2 { 
  font-size: 34px; 
  line-height: 1.25; 
  margin-bottom: 20px; 
}

h3 { 
  font-size: 26px; 
  line-height: 1.3; 
  margin-bottom: 16px; 
}

p, input, button {
  font-size: 18px;

}

a {
  font-size: 18px;
  font-weight: 500;
  color: var(--color-meadow);
  text-decoration: none;
}


button, input, a {
  transition: color 0.4s ease-in-out, transform 0.3s ease;
}

button:hover, button:focus,
input:hover, input:focus, a:hover, a:focus {
  transform: scale(1.1);
  color: var(--color-meadow);
  background-color: var(--color-forest);
}

a:hover, a:focus {
  color: var(--color-forest);
}

input::placeholder {
  color: var(--color-stone);
  opacity: 0.6;
}

section{
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 30px;
}

section > h2 {
  color: var(--color-forest);
}

.btn {
  padding: 10px 15px;
  border-radius: 10px;
  text-align: center;
}

.btn--primary {
  background-color: var(--color-forest);
  color: var(--color-stone);
}

.btn--secondary { 
  background-color: var(--color-stone); 
  color: var(--color-forest); 
}

.slider__thumbnail {
  max-width: 100px;
  height: 60px;
  border-radius: 20px;
}

.form {
  width: 400px;
  background-color: var(--color-meadow);
  padding: 40px 20px;
}

.form__input {
  width: 350px;
  padding: 10px 15px;
  border-radius: 10px;
  color: var(--color-stone);
}

.description {
  width: 400px;
  /* можно будет в будущем удалить */
  background-color: var(--color-parchment);
  padding: 20px;
}

.description__title {
  color: var(--color-forest);
}

.description__link {
  padding: 10px 20px;
}

.description > .list {
  list-style-type: disc;
  padding: 20px;
}

.description > .list > .list__item {
  padding: 10px;
}

.form__btn {
  position: relative;
  width: 40%;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
}

.fc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.fb {
  justify-content: space-between;
}

.cc {
  flex-direction: column;
}

.gb {
  gap: 20px;
}

.gs {
  gap: 10px;
}

/* Добавить переиспользование */

/* .rs {
  border-radius: 10px;
} */

.ps {
  padding: 10px;
}

.pb {
  padding: 20px;
}

/* Добавил*/
.rb {
  border-radius: 20px;
}

