.slider__img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.description__rating {
    gap: 5px !important;
}

.description__img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.slider__description > .description__text {
    height: 90px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}