.search__form {
    padding: 10px;
    min-width: 700px;
    flex-shrink: 0;
}

.search__form > .form__input {
    flex-grow: 1;
}

.search__form > .form__input:hover, .form__input:focus {
    transform: scale(1.02);
} 

.search__form > .form__btn {
    width: 100px;
}

@media (max-width: 768px) {
    .search__form, .slide--review, .controls {
        min-width: 0;
        width: 80%;
    }
}