.slider {
    max-height: 800px;
}

.slider__slide {
    width: 100%;
    height: 600px;
    background-size: cover;
    border-radius: 20px;
    padding: 20px;
}

.slider__slide--main {
    align-items: end;
    background-image: url('../img/media/books/chess.jpg');
}
.slider__slide--review {
    height: initial;
}

.slider__description {
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}

.slider__description--review {
    align-items: start;
    justify-content: start;
}